.b1{
    height: 4rem;
    width: 7rem;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.b1:hover{
    background-color: rgb(214, 60, 60);
}

.b2{
    height: 4rem;
    width: 7rem;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.b2:hover{
    background-color: rgb(70, 119, 70);
}
h1{
    color: red;
    text-align: center;
}