.b1{
    height: 4rem;
    width: 7rem;
    border-radius: 40%;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.b1:hover{
    background-color: green;
}

.b2{
    height: 4rem;
    width: 7rem;
    border-radius: 40%;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.b2:hover{
    background-color: red;
}
h1{
    color: red;
    text-align: center;
}